.section {
  display: flex;
  max-width: 936px;
  margin: 0 auto;
  flex-flow: wrap;
}

.block {
  flex: 1;
  margin: 20px;
  min-width: 20%;
}

.block:hover {
  cursor: pointer;
}

.pagination {
  justify-content: center;
}